.quiz--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 5rem 3rem;
  border: 2px dotted var(--font-color);
  border-radius: 15px;
  height: 40vh;
  position: relative;
  z-index: 30;
}
