@import url(buttons.css);

.quiz--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  margin: 5rem 3rem;
  box-shadow: 0 0 5px 0 var(--font-color);
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: 15px;
  height: 40vh;
  position: relative;
  z-index: 30;
}

.quiz--card span {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  background: transparent;
  font-size: 1.5rem;
  text-decoration: underline;
}

.question-text {
  position: absolute;
  top: 4rem;
  left: 2rem;
  right: 2rem;
  background: transparent;
}
.answer-container {
  position: absolute;
  top: 11rem;
  left: 3rem;
}
.answer-text {
  font-size: 18px;
  display: none;
}
.quiz-card-bookmark {
  position: absolute;
  top: -2rem;
  right: 1rem;
  background: transparent;
  color: var(--font-color);
}
.quiz-card-bookmark--checked {
  color: var(--button-color);
}
