.footer--nav--bar {
  background-color: var(--background-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 25px;
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 50;
  box-shadow: 0 0 5px 0 var(--button-color);
}

.footer--nav--list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  background: transparent;
}

.footer--nav--items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
i {
  color: var(--font-color);
  background-color: var(--background-color);
}
a {
  background: transparent;
}
#active {
  color: var(--button-color);
}
