@import url(base.css);
@import url(/components/header/header.css);
@import url(/components/footer/footer.css);
@import url(/components/card/card.css);
@import url(/components/buttons/buttons.css);
@import url(/components/anwser-button/answer.css);
@import url(/components/bookmark/bookmark.css);
@import url(/components/create/create.css);

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v133/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}
