.quiz-card-bookmark {
  position: absolute;
  top: -1.5rem;
  right: 0;
  background: transparent;
}
.quiz-card-bookmark--checked {
  fill: #e78230;
}
.bookmark {
  position: absolute;
  top: 0;
  right: 1rem;
}
