.quiz-card-bookmark {
  position: absolute;
  top: -2rem;
  right: 1rem;
  background: transparent;
  color: var(--button-color);
}
.quiz-card-bookmark--checked {
  color: var(--font-color);
}
.bookmark {
  position: absolute;
  top: 0;
  right: 1rem;
}
