.quiz--show--answer--btn {
  position: absolute;
  top: 8rem;
  left: 10rem;
  right: 10rem;
  width: 11rem;
  height: 2rem;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 10px;
}
.answer-container {
  position: absolute;
  top: 11rem;
  left: 3rem;
}
.answer-text {
  font-size: 18px;
  display: none;
}
